// Scrollbar styles

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3d3a45;
  border-radius: 4px;

  &:hover {
    background: var(--ifm-color-primary);
  }
}

// Hide scrollbar on menu
.menu {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}
